body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-title {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

.menu a.active {
    font-weight: bold;
}

.counter {
    font-size: 14px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


.link-table {
    list-style-type: none;
    padding: 0;
}

.link-table li {
    margin: 10px;
    text-align: left;
}

.destination {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.destination:hover {
    text-decoration: underline;
}
