body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #0067c0;
    color: white;
    padding: 10px;
    text-align: center;
}

h2 {
    background-color: #00e1ff;
    color: #000000;
    padding: 10px;
    text-align: center;
}

.header-title {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

.menu a.active {
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #0067c0;
    color: white;
    text-align: center;
    padding: 10px;
}
/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* テーブルのスタイル */
.custom-table {
    width: 30%;
    background-color: #CDD5FC;
    border: 3px solid #35224F;
    margin-bottom: 20px;
}

/* エントリのスタイル */
.custom-entry {
    border: 2px solid #FFD700;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #008000;
}

/* リストのスタイル */
.custom-list {
    list-style-type: none;
    padding: 0;
}

/* リストアイテムのスタイル */
.custom-list li {
    margin-bottom: 10px;
}

/* リスト内のリンクのスタイル */
.custom-list a {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}